.toggle-button {
  background-color: transparent;
  color: white;
}

.pos {
  position: fixed;
}

.logoImg:hover{
  opacity: 0.7;
}

.backgr{
  background-color: #01AEF0;
  color: white;
}

.circle {
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  color: #01AEF0;
  border-radius: 50%;
  border: #0000 solid 2;
  display: inline-block;
  text-align: center;
}